auto-install-peers=false
strict-peer-dependencies=false
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=@firebase/util
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=protobufjs
