auto-install-peers=false
strict-peer-dependencies=false
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@scarf/scarf
onlyBuiltDependencies[]=@firebase/util
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=protobufjs
